[submodule "ui"]
	path = ui
	url = ../demo-school-ui.git
[submodule "config-store"]
	path = config-store
	url = ../demo-school-config-store.git
[submodule "teacher-service"]
	path = teacher-service
	url = ../demo-school-teacher-service.git
[submodule "school-service"]
	path = school-service
	url = ../demo-school-school-service.git
[submodule "payment-service"]
	path = payment-service
	url = ../demo-school-payment-service.git
